<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}  
    
    <div class="container my-container">
        <!-- justify content center will center the columns within the row -->
        <!-- align self center in a single column will center that column only
          you can center all columns in the row by doing justify-content-center in a row class instead
        the orders can be added to rows, the lower the order, the further left it will go, 
      relative to other order numbers -->
     
        <div class="row   my-row">
         
       
          <div class="col-12  my-col ">
            
            
  
            
              
            
              
          </div>
          
  
  
        </div>
  
      </div>
    
    {% endblock %}     
  
  </body>
</html>