<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tic-Tac-Website</title>
    <style>
       body{
        margin: 15x; 
      }
      .my-container {
        border: 1px solid green;
      }
      .my-row {
        border: 3px solid red;
        height: 1340px
        
      }

      .my-col{
        border: 3px dotted blue;
        
      }
      h1 {text-align: center;

      }
      .logo {
    width: 100%;
    margin-top: 0px;
    height: 150px;
    text-align: center;
    color: crimson;
    background-image: url("https://www.fg-a.com/wallpapers/mountain-landscape-clouds-2018.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px
}  
     
    </style>

  </head>
  <body>
    <header>
      <h1 class="logo">Tic_Tac_Website</h1>
    </header>
    
    
    {% extends "template.html" %}
    {% block content %}  
    <div class="container my-container">
      <!-- justify content center will center the columns within the row -->
      <!-- align self center in a single column will center that column only
        you can center all columns in the row by doing justify-content-center in a row class instead
      the orders can be added to rows, the lower the order, the further left it will go, 
    relative to other order numbers -->
   
      <div class="row  my-row">
       
     
        <div class="col-12  my-col ">
          
          

          
            
            <p style="font-size: 23px; color: darkviolet;">
            Link to game code on Github:    
            <p style="font-size: 23px; color: darkviolet;">
            https://github.com/jberkow713/TurtleGamePython/blob/main/TicTacGame/TrinketAiTicTacGame.py
            
          <p style="font-size: 23px; color: darkblue;"> 
         By clicking on the Game link at the top of the page, you will be taken to the interactive
         Tic-Tac-Toe game page. I will now explain how that page works.   
  
  <p style="font-size: 23px; color: rgb(0, 139, 132);"> 
    On the game page, at the top left of the screen you will see a Trinket logo. You will also see a 
    run button. Simply click on the run button and the game will begin.
  <p style="font-size: 23px; color: rgb(205, 50, 192);">
    Depending on the size of your screen, you may need to scroll down in order to see the prompts.
    There is an interactive bar just below the game screen and just above the prompt screen. You can click it
    to adjust the size of the game screen. Just make sure to be able to see the prompts before the 
    game begins.
    <p style="font-size: 23px; color: rgb(16, 139, 0);">
    The first prompt will ask if you want to play against the computer. If you click no, the computer
    will play itself as both X and O. You can get a good idea of how it plays by watching it.
    The second prompt will ask you to enter the dimensions of the board. This refers to the amount of tiles
    on the board. If you want a 10 by 10 board, simply enter 10 here. If you choose to play against the 
    computer, your answer MUST be an odd number, from 3-19, including 3 and 19. If you choose to watch
    the computer play itself, your answer can be any number from 3-20, including 3 and 20.
    <p style="font-size: 23px; color: darkblue;"> 
    The third prompt will ask you to enter the required number of tiles to win. Unlike other Tic-Tac-Toe
    games, my game allows you to choose a number less than the dimensions of the board in this situation.
    But there are some rules here. If you choose board dimensions less than or equal to 5, you MUST 
    make the number of tiles needed to win equal to the dimensions of the board. If you choose a 7 by 7 board, you must choose 5, 6, or 7 tiles needed to win. Other than these restrictions,
    you must choose a number of tiles that is greater than half the dimensions of the board and less than the dimensions of the board. For example if you 
    choose a 9 by 9 board, you must at a minimum choose 5 tiles and at a maximum choose 9 tiles to win. The prompts
    must be entered exactly and according to the restrictions, or you will be prompted again. Case matters, so enter "yes" or "no" for yes or no questions, or you will be prompted again.      
    <p style="font-size: 23px; color: rgb(134, 0, 139);">
    The last prompt will ask you if you want to play until the end of the game. If you enter yes, you 
    will be allowed to play until all the squares have been used. If you enter no, if at any point 
    during the game it becomes impossible for either player to win, the game will inform you, and 
    it will end. This will work in player versus computer, or computer versus computer mode. You can stop 
    the game at any time by pressing the stop button on the top left of the screen. If you want to restart the game,
    hit the stop button, then hit run again; you will be prompted like before.
    <p style="font-size: 23px; color: rgb(205, 50, 192);">
    If you are playing versus the computer, once the game begins, your mouse will become a small X. Drag your
    mouse over the board, and click anywhere on the board. This will enable the player controls. You can then move
    with the arrow keys, and mark your square with "x". You will only be able to mark a square that is 
    unmarked, and you will be forced to wait until the computer has moved before you can move again.
        
        </div>
        <!-- offset pushes the column to the right by 2, but in this case only on larger screens
        will you see this take effect, it will swap, and offset -->
        
    
      <!-- <div class="row my-row">
        
        <div class="col my-col">
          Row 2 Col 1
        </div> -->


      </div>

    </div>
    
  {% endblock %}     

</body>
</html>