<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}  
    
    <h1> About Flask </h1>
    <p> The site will have an about me page on the home page. </p>
    <p> From this, it will have a link to my game on the secondary page. </p>
    <p> And on the third page, it will discuss how the game pertains to data science and what I
         have learned</p>
    {% endblock %}     
  
  </body>
</html>