<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tic-Tac-Website</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}  
    
    <h1> This site will be created to display my Tic-Tac-Toe Game </h1>
    <p> Currently building the framework 
  I think I can just type inside here and it adds on...not sure. Ok so it does not 
  matter where you put this text inside the p, it will simply add on.      
  <p> Every p  divides text from previous lines, and the second p ends the connection to that text</p>
  {% endblock %}     

</body>
</html>